body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
    display: flex;
}

h3{
    background-color: rgb(242, 242, 242);
}

ul{
    padding-left: 0;
}

li{
    list-style-type: none;
    text-align: left;
}

.welcome{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.div-FilmList{
    flex: 1.3;
    height: 100vh;
    text-align: left;
    padding: 0 20px;
    /* border-right: 1px solid lightgray; */
}

.div-FilmList ul li{
    cursor: pointer;
}
.div-FilmList ul li:hover{
    color: rgb(0, 156, 0);
}
.div-FilmList ul li:active{
    color: rgb(225, 0, 0);
}

.div-Details{
    flex: 2;
    text-align: left;
    padding: 0 20px;
    border-left: 1px solid lightgray;
}

.div-cont-details{
    display: flex;
}
.div-title{
    flex: 1;
    min-width: 200px;
    font-weight: bold;
}
.div-text{
    flex: 2;
    display: block;
    margin-right: 30px;
}